<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Apps</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@300;400;500;700&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Styles -->
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
  <div id="app">
    <!-- LOGIN SECTION -->
    <section v-if="page === 'login'" id="login-section">
      <div class="row rounded-3 p-2 login-div-container">
        <!-- Left Div -->
        <div class="col-7">
          <img src="./img/login-img.png" alt="login-img" class="w-100 p-5">
        </div>
        <!-- Right Div -->
        <div class="col-5 right-div-login rounded-3 p-5">
          <h1 class="text-center">Welcome Back!</h1>
          <h2 class="text-center fs-5 text-secondary">Please enter your details</h2>
          <form @submit.prevent="submitLoginForm">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input v-model="loginForm.email" type="text" class="form-control">
              <div v-if="emailErrorMessage.length" class="text-danger mt-1">{{ emailErrorMessage }}</div>
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input v-model="loginForm.password" type="text" class="form-control">
              <div v-if="passwordErrorMessage.length" class="text-danger mt-1">{{ passwordErrorMessage }}</div>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary rounded-5 w-100">Login</button>
            </div>

            <p class="text-center text-secondary">or Sign in with</p>
          </form>
          <p class=" text-center mt-5">Don't have an account? <a @click.prevent="changePage('register')" href="" class="link-body-emphasis">Sign up</a></p>
        </div>
    </section>

    <!-- REGISTER SECTION -->
    <section v-else-if="page === 'register'" id="register-section">
      <form @submit.prevent="submitRegisterForm" id="register-form" class="rounded-3 p-2">
        <div class="d-flex flex-wrap rounded-3 p-3 h-100 gap-2 justify-content-around" style="background-color: white;">
          <!-- Upper div -->
          <div style="width: 100%;">
            <h1 class="text-center">Welcome!</h1>
            <h2 class="text-center fs-5 text-secondary">Please enter your details</h2>
          </div>

          <!-- Left Div -->
          <div style="width: 45%;">
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input v-model="registerForm.username" type="text" class="form-control" autofocus>
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input v-model="registerForm.email" type="text" class="form-control">
              <div v-if="emailErrorMessage.length" class="text-danger mt-1">{{ emailErrorMessage }}</div>
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input v-model="registerForm.password" type="text" class="form-control">
              <div v-if="passwordErrorMessage.length" class="text-danger mt-1">{{ passwordErrorMessage }}</div>
            </div>
          </div>

          <!-- Right Div -->
          <div style="width: 45%;">
            <div class="mb-3">
              <label class="form-label">Phone Number</label>
              <input v-model="registerForm.phoneNumber" type="text" class="form-control">
            </div>

            <div class="mb-5">
              <label class="form-label">Address</label>
              <input v-model="registerForm.address" type="text" class="form-control">
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary rounded-5 w-100">Register</button>
            </div>

            <p class="text-center text-secondary">or Sign up with</p>
          </div>

          <!-- Bottom div -->
          <div style="width: 100%; align-self: flex-end;">
            <p class=" text-center mt-5" id="register-link">Already have an account? <a @click.prevent="changePage('login')" href=""
                class="link-body-emphasis">Sign in</a></p>
          </div>
        </div>
      </form>
    </section>

    <!-- DASHBOARD SECTION -->
    <section v-else-if="page === 'dashboard'" id="dashboard-section" class="d-flex">
      <!-- Side Panel -->
      <div id="side-panel" class="d-flex flex-column align-items-center gap-2">
        <i class="fa-solid fa-gear py-4" style="font-size: 6rem;"></i>
        <ul class="d-flex flex-column gap-3">
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-chart-line"></i>
            <a @click.prevent="changePage('dashboard')" href="">Dashboard</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-film"></i>
            <a @click.prevent="changePage('movies')" href="">Movies</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-genderless"></i>
            <a @click.prevent="changePage('genres')" href="">Genre</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-user"></i>
            <a @click.prevent="changePage('newMovie')" href="">New Movie</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a @click.prevent="logout" href="">Log Out</a>
          </li>
        </ul>
      </div>

      <!-- Content -->
      <div id="content">
        <!-- Upper content -->
        <div class="upper d-flex">
          <h1>Content</h1>
        </div>

        <!-- Bottom content -->
        <div class="bottom d-flex gap-3">
          <div>
            <h2 class="fs-5">Total Movies</h2>
            <div class="border rounded count-box fs-1">{{ movieCount }}</div>
          </div>
          <div>
            <h2 class="fs-5">Total Genres</h2>
            <div class="border rounded count-box fs-1">{{ genreCount }}</div>
          </div>
        </div>
      </div>
    </section>

    <!-- ADD/UPDATE MOVIE SECTION -->
    <section v-else id="new-edit-section" class="d-flex">
      <!-- Side Panel -->
      <div id="side-panel" class="d-flex flex-column align-items-center gap-2">
        <i class="fa-solid fa-gear py-4" style="font-size: 6rem;"></i>
        <ul class="d-flex flex-column gap-3">
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-chart-line"></i>
            <a @click.prevent="changePage('dashboard')" href="">Dashboard</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-film"></i>
            <a @click.prevent="changePage('movies')" href="">Movies</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-genderless"></i>
            <a @click.prevent="changePage('genres')" href="">Genre</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-user"></i>
            <a @click.prevent="changePage('newMovie')" href="">New Movie</a>
          </li>
          <li class="fs-5 side-panel-list d-flex gap-2">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a @click.prevent="logout" href="">Log Out</a>
          </li>
        </ul>
      </div>

      <!-- Content -->
      <div id="content">
        <!-- Upper content -->
        <div class="upper d-flex">
          <h1>New Movie</h1>
        </div>

        <!-- Bottom content -->
        <div class="bottom d-flex gap-3">
          <form @submit.prevent="submitNewMovie" class="d-flex w-100 gap-4">
            <!-- Left Div -->
            <div class="w-50">
              <div class="mb-3">
                <label class="form-label">Title</label>
                <input v-model="newMovie.title" type="text" class="form-control" autofocus>
              </div>

              <div class="mb-3">
                <label class="form-label">Synopsis</label>
                <textarea v-model="newMovie.synopsis" class="form-control" rows="4"></textarea>
              </div>

              <div class="mb-5">
                <label class="form-label">Genre</label>
                <select v-model="newMovie.genreId" class="form-select">
                  <option selected disabled>-- Select Genre --</option>
                  <option value="1">Action</option>
                  <option value="2">Romance</option>
                  <option value="3">Horror</option>
                </select>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-success rounded-5 w-100">Submit</button>
              </div>
            </div>

            <!-- Right Div -->
            <div class="w-50">
              <div class="mb-3">
                <label class="form-label">Rating</label>
                <input v-model="newMovie.rating" type="number" class="form-control">
              </div>

              <div class="mb-3">
                <label class="form-label">Trailer Url</label>
                <input v-model="newMovie.trailerUrl" type="text" class="form-control">
              </div>

              <div class="mb-3">
                <label class="form-label">Image Url</label>
                <input v-model="newMovie.imgUrl" type="text" class="form-control">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <!-- SCRIPTS -->
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/f8d07e81f8.js" crossorigin="anonymous"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- My Vue Script -->
  <script src="script.js"></script>
</body>

</html>