* {
  font-family: 'Fjalla One', sans-serif;
}

#login-section, #register-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 38, 45);
  background: linear-gradient(45deg, rgba(38, 38, 45, 1) 0%, rgba(56, 58, 66, 1) 43%, rgba(67, 71, 80, 1) 59%, rgba(74, 79, 89, 1) 71%, rgba(90, 97, 109, 1) 81%, rgba(115, 124, 139, 1) 93%, rgba(148, 161, 178, 1) 100%);
}

#dashboard-section, #new-edit-section {
  height: 100vh;
}

.login-div-container {
  background-color: #e9e9e9;
  width: 70vw;
  height: 80vh;
}

.right-div-login {
  background-color: white;
  color: #333;
  height: 100%;
}

#register-form {
  background-color: #e9e9e9;
  width: 65vw;
  height: 80vh;
}

#side-panel {
  width: 16vw;
  background: rgb(22, 22, 26);
  background: linear-gradient(180deg, rgba(22, 22, 26, 1) 0%, rgba(38, 38, 45, 1) 83%, rgba(38, 38, 45, 1) 100%);
}

#content {
  width: 84vw;
  background-color: #26262d;
}

ul {
  margin: 0;
  padding: 0;
}

ul li:nth-child(1) a {
  color: #fffffe;
}

ul li:nth-child(1) i {
  color: #fffffe;
}

.side-panel-list {
  list-style: none;
}

.side-panel-list i {
  color: #94a1b2;
}

.side-panel-list a {
  text-decoration: none;
  color: #94a1b2;
}

#content h1 {
  color: #fffffe;
}

#content .upper {
  margin: 3rem;
}

#content .bottom {
  margin: 3rem;
  color: #fffffe;
}

.count-box {
  background-color: white;
  color: black;
  width: 10rem;
  padding: 1rem;
}